#root {
  padding: 50px;
}

.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.puzzle-board-boundary {
  padding: 30px;
  background-color: #444;
}

.gap-2 {
  gap: 20px;
}

.gap-1 {
  gap: 10px;
}

.p-1 {
  padding: 10px;
}

.puzzle-container {
  display: flex;
  flex-direction: column;
}

.puzzle-row {
  display: flex;
}

.celebration-container {
  flex: 1;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.puzzle-cell {
  width: 80px;
  height: 80px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #1f1f1f;
  user-select: none;
  box-sizing: border-box;
  border: 0px solid #000;
}

.puzzle-cell.selected:not(.fixed-piece):not(.restricted-piece) {
  border-color: blue;
}

.puzzle-cell.restricted-piece {
  background-color: #5f4b4b;
  border-color: #5f4b4b;
}

.puzzle-cell.fixed-piece {
  background-color: #444;
  border-color: #444;
}

.flex-1 {
  flex: 1;
}

.disp-flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.pieces-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}

.piece {
  cursor: pointer;
}
.piece.selected {
  outline: 2px solid blue;
}
.piece-cord-unit {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.piece-cord-unit.solid {
  background-color: #5d5d5d;
}

.highlight-hover {
  background-color: rgba(0, 255, 0, 0.2);
}

.cell-placed {
  background-color: rgba(111, 222, 228, 0.2);
}

.border-t {
  border-top-width: 2px;
}

.border-b {
  border-bottom-width: 2px;
}

.border-l {
  border-left-width: 2px;
}

.border-r {
  border-right-width: 2px;
}
