#root {
  padding: 50px;
}

.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.puzzle-board-boundary {
  padding: 30px;
  background-color: #444;
}

.puzzle-container {
  display: flex;
  flex-direction: column;
}

.puzzle-row {
  display: flex;
}

.puzzle-cell {
  width: 80px;
  height: 80px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #1f1f1f;
  user-select: none;
}

.flex-1 {
  flex: 1;
}

.disp-flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.pieces-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}

.piece-cord-unit {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.piece-cord-unit.solid {
  background-color: #5d5d5d;
}

.highlight-hover {
  background-color: rgba(0, 255, 0, 0.2);
}
